version: "3.5"
services:
  telegram-poll-voter:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    volumes:
      - ../:/myapp
      - /tmp/docker-python-telegram/:/tmp/
    container_name: telegram-poll-voter
    tty: true
    env_file: ../.env
