version: "3.5"
services:
  telegram-poll-voter:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    volumes:
      - ../:/myapp
      - /tmp/docker-python-telegram/:/tmp/
    container_name: telegram-poll-voter
    command: bash -c "chmod +x  bin/start.sh && bin/start.sh"
    restart: unless-stopped
    tty: true
    env_file: ../.env
